*{
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
:root {
   --color-primary:#424242;
    --color-primary-hover: #ed3b70;
    --color-secondary: #0f8ac7;
    --color-secondary-hover:#4d79ff;
    --color-success:rgb(14, 221, 110);
    --color-success-hover:green;
    --color-danger:rgb(250, 55, 55);
    --color-danger-hover:rgb(177, 6, 6);
    --color-info:sky-blue;
    --color-info-hover:rgb(0, 97, 139);
    --color-shadow:grey;
    --color-border:#626569;
    --color-text-white:white;
    --color-text-black:black;

}
.color-red{
  color:red;
}
.background-white{
background-color:var(--color-text-white);
}
.background-gray{
background-color:#D3D3D3
}
.btn-background{
	background-color:var(--color-primary);
}
.border-color{
	color:var(--color-primary)
}
.text-color{
	color:var(--color-text-white)
}
.text-black{
   color:var(--color-text-black)
 }
.light_grey{
	color:var(--color-border)
}
.light_black{
	color:#424242;
}
.blue-text{
	color:#0f8ac7;
}
.background-blue{
background-color:#0f8ac7;
}
.row {
	display: flex;
    flex-wrap: wrap;
}
.col-1 {
	width: calc(100%/12);
}


.col-2 {
	width: calc(100%/12*2);
}
.col-3 {
	width: calc(100%/12*3);
}
.col-4 {
	width: calc(100%/12*4);
}
.col-5{
   width: calc(100%/12*5);
}
.col-6 {
	width: calc(100%/12*6);
}
.col-7 {
	width: calc(100%/12*7);
}
.col-8{
   width: calc(100%/12*8);
}
.col-9 {
	width: calc(100%/12*9);
}
.col-10 {
	width: calc(100%/12*10);
}
.col-11 {
	width:calc(100%/12*11);
}
.card{
	border:1px solid var(--color-border);
    border-radius: 14px;
    box-shadow:0 0 5px var(--color-border);
}
.card-header {
	border-bottom: 1px solid var(--color-border);
}
.card-footer {
	border-top: 1px solid var(--color-border);
}
.text-start {
	text-align:left;
}
.text-center {
	text-align:center;
}
.text-end {
	text-align:right;
}
.form-control{

    border: 1px solid var(--color-border);
    border-radius:5px;
    outline: 1px solid var(--color-border);
}

.form-label{
	display: block;
    margin-bottom: 5px;
    padding-left: 5px;
}
.form-group{
	position: relative;
}
.form-icon-end{
	position: absolute;
    bottom: 10px;
    right: 10px;
}
.form-icon-start{
	position: absolute;
    bottom:10px;
    left: 20px;
}
.form-input{
    border: none;
	border-bottom: 2px solid rgb(93, 91, 91);
	padding: 10px 20px 10px 50px;
	display: block;
	width: 90%;
}
.form-input:focus {
	outline: none;
}
.btn {
    border:none;
    cursor:pointer;
    border-radius: 10px;
}
.font-family{
	 font-family:none;
}
.card{
	border:1px solid var(--color-border);
	border-radius:14px;
	box-shadow:0 0 5px var(--color-shadow);
}
.card-header{
	border-bottom:1px solid var(--color-border);
}
.card-footer{
	border-top:1px solid var(--color-border);
}
.card_text{
	text-align: center;
}

.h1-10{
	font-size: 10px;
	font-weight: bold;
 }
 .h1-15{
	font-size: 15px;
	font-weight: 500;
 }
 .h1-17{
	font-size: 17px;
	font-weight:400;
 }
 .h1-18{
	font-size: 18px;
	font-weight: 450;
 }
.h1-20{
	font-size: 20px;
	font-weight: bold;
 }
 .h1-50{
	font-size:50px;
	font-weight:500;
 }
  .h1-30{
	 font-size:30px;
	 font-weight: 600;
 }
 .h1-35{
	font-size:35px;
	font-weight:600;
}
 .h1-40{
	 font-size: 40px;
	 font-weight: bold;
 }
 h1-50{
	font-size:50px;
	font-weight: bold;
 }

.h1-100{
	font-size: 100px;
    font-weight: bold;
}
.h1-150{
	font-size: 150px;
    font-weight: bold;
}
.h1-200{
	font-size: 200px;
    font-weight: bold;
}
.h1-250{
	font-size: 250px;
    font-weight: bold;
}
.m-5{
	margin: 5px;
}
.m-10{
	margin: 10px;
}
.m-15{
	margin: 15px;
}
.m-20{
	margin: 20px;
}
.m-25{
	margin: 25px;
}
.m-30{
	margin: 30px;
}
.m-35{
	margin: 35px;
}
.m-40{
	margin: 40px;
}
.mt-5{
	margin-top:5px ;
}
.mt-10{
	margin-top:10px ;
}
.mt-15{
	margin-top:15px ;
}
.mt-20{
	margin-top:20px ;
}
.mt-25{
	margin-top:25px ;
}
.mt-30{
	margin-top:30px ;
}
.mt-35{
	margin-top:35px ;
}
.mt-40{
	margin-top:40px ;
}
.mt-45{
	margin-top:45px ;
}
.mt-50{
	margin-top:50px ;
}
.mt-65{
	margin-top:65px ;
}
.mt-70{
	margin-top:70px ;
}
.mt-80{
	margin-top:80px ;
}
.mt-90{
	margin-top:90px ;
}
.mt-95{
	margin-top:95px ;
}
.mt-100{
	margin-top:100px ;
}
.mt-200{
	margin-top: 200px;
}

.mt-60{
	margin-top:60px ;
}
.mb-5{
	margin-bottom:5px ;
}
.mb-10{
	margin-bottom:10px;
}
.mb-15{
	margin-bottom:15px ;
}
.mb-20{
	margin-bottom:20px ;
}
.mb-25{
	margin-bottom:25px ;
}
.mb-30{
	margin-bottom:30px ;
}
.mb-35{
	margin-bottom:35px ;
}
.mb-40{
	margin-bottom:40px ;
}
.mb-45{
	margin-bottom:45px ;
}
.mb-50{
	margin-bottom:50px ;
}
.ml-10{
   margin-left:10px;
}
.ml-15{
	margin-left:15px;
 }
 .ml-20{
	margin-left:20px;
 }
 .ml-25{
	margin-left:25px;
 }
 .ml-30{
	margin-left:30px;
 }
 .ml-35{
	margin-left:35px;
 }
 .ml-40{
	margin-left:40px;
 }
 .ml-45{
	margin-left:45px;
 }
 .ml-50{
	margin-left:50px;
 }
 .ml-55{
	margin-left:55px;
 }
 .ml-60{
	margin-left:60px;
 }
 .ml-65{
	margin-left:65px;
 }
 .ml-70{
	margin-left:70px;
 }
 .ml-80{
	margin-left:80px;
 }
 .ml-160{
	margin-left:160px;
 }
 .ml-100{
	margin-left:100px;
 }
.ml-90{
	margin-left:90px;
 }
 .ml-95{
	margin-left:95px;
 }
 .ml-130{
	margin-left:130px;
 }
  .ml-140{
	margin-left:140px;
 }
  .ml-200{
	margin-left:200px;
 }
   .ml-300{
	margin-left:300px;
 }
   .ml-350{
	margin-left:350px;
 }
    .ml-700{
	margin-left:700px;
 }
    .ml-750{
	margin-left:750px;
 }
.pt-10{
	padding-top:10px;
}
.pt-20{
	padding-top:20px;
}
.pt-25{
	padding-top:25px;
}
.p-5{
	padding: 5px;
}
.p-4{
	padding:4px;
}
.p-10{
	padding: 10px;
}
.p-8{
	padding:8px;
}
.p-7{
	padding: 7px;
}

.p-15{
	padding: 15px;
}
.p-20{
	padding: 20px;
}
.p-25{
	padding: 25px;
}
.p-30{
	padding: 30px;
}
.p-35{
	padding: 35px;
}
.p-40{
	padding: 40px;
}
.p-45{
  padding: 45px;
}
.p-50{
	padding: 50px;
}
pl-20{
	padding-left:20px;
}
pl-25{
	padding-left:25px;
}
.fs-5{
	font-size: 5px;
}
.fs-10{
	font-size: 10px;
}
.fs-15{
	font-size: 15px;
}
.fs-17{
	font-size: 17px;
}
.fs-18{
	font-size: 18px;
}

.fs-20{
	font-size: 20px;
}
.fs-25{
	font-size: 25px;
}

.fs-30{
	font-size: 30px;
}
.fs-40{
	font-size: 40px;
}
.fs-45{
	font-size:45px;
}
.fs-50{
	font-size: 50px;
}
.fs-60{
	font-size: 60px;
}
.fs-70{
	font-size: 70px;
}
.fs-80{
	font-size: 80px;
}
.fs-90{
	font-size: 90px;
}
.fs-100{
	font-size: 90px;
}
.w-40{
	width:40%;
}
.w-50{
	width: 50%;
}
.w-60{
	width: 60%;
}
.w-70{
	width: 70%;
}
.w-75{
	width: 75%;
}
.w-80{
	width: 80%;
}
.w-90{
	width: 90%;
}
.w-100{
	width: 100%;
}
table, th, td{
    border: 1px solid var(--color-border);
    border-collapse: collapse;

}
th, td{
	text-align: center;
    padding: 8px;
}
thead{
	background-color:#0f8ac7;
    color:black;

}

.nav-img{
	background-image:linear-gradient(to right, rgba(118, 27, 222, 0.8), rgba(19, 13, 184, 0.7)), url("https://png.pngtree.com/thumb_back/fw800/background/20220416/pngtree-in-front-of-the-columbia-university-library-students-walk-amidst-the-bustling-new-york-city-photo-image_45110464.jpg")  ;
	width:100%;
	height:100vh;

}
.admin-img{
	background-image:linear-gradient(to right, rgba(93, 13, 191, 0.8), rgba(4, 18, 48,.7)),url("https://media.istockphoto.com/id/828469280/photo/books-and-plants-on-shelf.jpg?s=612x612&w=0&k=20&c=mJVuyqc-_8Nh7MuiV_zBTpGaq-bT-C5A7K25aMy0_xc=") ;
	width:100%;
	height:100vh;
	background-size: cover;

}
.img2{
    background-image:url("https://www.knellerins.com/Sites/BCB543AB-7C11-4678-B4E3-1B9FEEC4D1AA/images/wp-content/uploads/2019/09/drive-auto-insurance-car-night-dark.jpg");
    width:100%;
	height:100vh;
	background-size: cover;

}
.cust_img{
	background-image: url("/static/img/background.png");
	width: 100%;
	height: 100vh;
	background-size: cover;
}


.links{
   text-decoration: none;
}
.m-auto{
  margin:30px auto;
}
.h6{
	font-size: 150%;
	font-weight: bolder;
}
.nav-btn{
	border:2px solid  white;
	padding: 5px 10px;

}
.card1{
  width:220px;
  margin:auto;
  border:1px solid #757575;

}
.card1:hover {

	margin:auto;
	border:1px solid #525151;
	width: 240px;
}
.card-image {
  height:250px;
}

.card-book {
  position:relative;
}
.mask {
  background-image:linear-gradient(to top,rgba(189,189,189,0.3),rgba(158,158,158,0.3));
  position:absolute;
  top:0;
  left:0;
  height:270px;
  width:100%;
}
.amount {
  position:absolute;
  left:10px;
  top:270px;
  color:white;
  font-size:140%;
  widht:100%;
}
.category {
  position:absolute;
  top:270px;
  right:10px;
  color:white;
  font-size:140%;
  width:100%;
  text-align:right;
}
.food-name {
  font-size: 140%;
  font-weight:bolder;
  padding:10px;
}
.restorent-name {
  font-size: 120%;
  font-weight:bolder;
  padding:10px;
}
.description {
  height:50px;
  overflow:auto;
}
.br-14 {
  border-radius:14px;
}
.font-book-text{
          font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}
.book-label{
	display: block;
    margin-bottom:3px;

}
.book-icon-start{
	position: absolute;
    bottom:1px;
    left: 25px;
}
.nav {
    background-color:var(--color-text-white);
    border-bottom: 1px solid lightgrey;
    box-shadow:1px light_grey 0 0;
}
.nav-item {
	padding:13px;
    display:flex;
    align-items:center;
    height:65px;
    font-size:21px;
}
.nav-item:hover {
     font-size:26px;
     color:#0f8ac7;
}
.nav-item >a{
	text-decoration:none;
    color:black;
}
.nav-item >a:hover{
	text-decoration:none;
    color:#0f8ac7;
}

.driver_img{
   border-radius: 50%;
 }
 .middle {
    display: flex;
    flex-direction: column;
	justify-content: center;
	align-items: center;
 }
 .border-color-card{
	box-shadow:7px  solid var(--color-secondary);;
 }
 .mb-10 {
    margin-bottom: 10px;
 }
 .logo_img{

 }
.mt-20 {
    margin-top:20px;
}

* Action Buttons */
.accept-btn, .reject-btn {
  padding: 8px 15px;
  font-size: 0.9rem;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.accept-btn {
  background-color: #28a745;
  color: white;
}

.accept-btn:hover {
  background-color: #218838;
}

.reject-btn {
  background-color: #dc3545;
  color: white;
}

.reject-btn:hover {
  background-color: #c82333;
}
