{% include 'links.html'%}
<nav class="row nav mt-10">
	<div class="col-1"></div>
	<div class="col-3">
		<div class="nav-item" style="display: flex; align-items: center;">
  <img src="https://static.vecteezy.com/system/resources/previews/013/923/543/large_2x/blue-car-logo-png.png" width="60" style="margin-right: 10px;">
  <span style="font-size: 28px; font-weight: bold;">
    <span style="color: black;">Smart </span>
    <span style="color: #007bff;">T-Hub</span>
  </span>
</div>
	 </div>
	<div class="col-6">
		  <div class="row">
			<div class="nav-item"><a href="admin_home">AdminHome</a></div>
			  <div class="nav-item"><a href="add_locations">Locations</a></div>
			  <div class="nav-item"><a href="view_driver">Drivers</a></div>
			  <div class="nav-item"><a href="bookings" class="links">Bookings</a></div>
		  </div>
	</div>
	<div class="col-2">
		<div class="nav-item"><a href="logout" class="links">Logout</a></div>
	</div>
</nav>