{% include 'driver_head.html'%}
<div class="card w-50 mt-100 p-10 ml-300">
    <h1>Give Review</h1>
    <form action="give_review_rating_to_passenger_action">
        <input type="hidden" name="booking_id" value="{{booking_id}}">
        <input type="hidden" name="passenger_first_name" value="{{passenger_first_name}}">
        <div class="row">
            <div><label for="rating">Rating</label><br></div>
            <div>
                 <select id="rating" name="rating" class="input-1 ml-5" required>
                    <option value="5">5</option>
                    <option value="4">4</option>
                    <option value="3">3</option>
                    <option value="2">2</option>
                    <option value="1">1</option>
                </select>
            </div>
        </div>
        <div><label for="review">Review</label><br></div>
        <div><textarea class="w-100 h-100" id="review" name="review"></textarea><br></div>
        <div><input type="submit" class="w-90 ml-50 p-10 btn background-blue text-color fs-20 " value="Send"></div>
    </form>
</div>