 {% include 'links.html'%}
<nav class="row nav mt-10">
	<div class="col-1"></div>
	<div class="col-3">
		<div class="nav-item">
  <img src="https://static.vecteezy.com/system/resources/previews/013/923/543/large_2x/blue-car-logo-png.png" width="17%">
  <label class="text-black fs-45">Smart</label>
  <label class="blue-text fs-50">Transformation Hub</label>
</div>
	 </div>
	<div class="col-6">
		  <div class="row">
			<div class="nav-item "><a href="/">Home</a></div>
			<div class="nav-item"><a href="admin_login">Admin</a></div>
			<div class="nav-item"><a href="rider_login">Rider</a></div>
			<div class="nav-item"><a href="driver_login">Driver</a></div>
		  </div>
	</div>
	<div class="col-1">
		<div class="mt-20">
			<svg xmlns="http://www.w3.org/2000/svg" width="20" height="18" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
            <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
             <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
            </svg>
			<a href="rider_registration" class="fs-20  links text-black mt-20">SignUp</a></div>
	</div>
</nav>
