{% include  'head.html'%}
<div class="cust_img">
<div class="row mt-10">
  <div class="col-2"></div>
  <div class="col-5 p-30 mt-10" >
      <div class="card background-white p-20">
        <div class="h1-35 text-center mt-30 font-family">Rider Signup</div>
           <form class="mt-25" action="rider_registration_action" method="post">
               <div class="row">
                   <div class="col-6 p-5">
                       <div class="form-group mt-20">
                       <label for="first_name"></label>
                           <input type="text" name="first_name" id="first_name" placeholder="Enter your First Name" class="form-control  form-input">
                       </div>
                   </div>
                   <div class="col-6 p-5">
                       <div class="form-group mt-20">
                       <label for="last_name"></label>
                           <input type="text" name="last_name" id="last_name" placeholder="Enter Your LastName" class="form-control form-input">
                       </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-6 p-5">
                       <div class="form-group mt-20">
                       <label for="email"></label>
                           <input type="email" name="email" id="email" placeholder="Enter Your email" class=" form-control form-input">
                       </div>
                   </div>
                   <div class="col-6 p-5">
                       <div class="form-group mt-20">
                       <label for="phone"></label>
                           <input type="number" name="phone" id="phone" placeholder="Enter Your phone" class=" form-control form-input">
                   </div>
                       </div>
               </div>
               <div class="row">
                   <div class="col-6 p-5">
                        <div class="form-group mt-20">
                         <label for="password"></label>
                            <input type="password" name="password" id="password" placeholder="Enter your password" class="form-input form-control">
                        </div>
                   </div>
                   <div class="col-6 p-5">
                       <div class="form-group mt-20 ">
                          <label for="state"></label>
                           <input type="text" name="state" id="state" placeholder="Enter your State" class="form-input form-control">
                      </div>
                   </div>
               </div>
               <div class="row">
                   <div class="col-6 p-5">
                        <div class="form-group mt-20">
                            <input type="text" name="city" id="city" placeholder="Enter Your city" class="form-input form-control" >
                        </div>
                   </div>
                   <div class="col-6 p-5">
                        <div class="form-group mt-20">
                            <input type="number" name="zip_code" id="zip_code" placeholder="Enter Your Zip Code" class="form-input form-control" >
                        </div>
                   </div>
               </div>
               <div class="form-group mt-50 ml-40">
                  <input type="submit" value="SignUp Now" class="w-90 p-10 btn background-blue text-color fs-20">
               </div>
               <div class="text-center mt-40">
                <label class="light_grey">already have an account?</label><a href="rider_login" class="border-color links h1-15">SignIn Now</a>
             </div>
           </form>
      </div>
  </div>
    <div class="col-5"></div>
</div>
</div>















