{% include 'links.html'%}
<nav class="row nav mt-10">
	<div class="col-1"></div>
	<div class="col-3">
		<div class="nav-item"><img src="https://static.vecteezy.com/system/resources/previews/013/923/543/large_2x/blue-car-logo-png.png" width="17%"><label class="text-black fs-45">Ride</label><label class="blue-text fs-50">Sharing</label></div>
	 </div>
	<div class="col-6">
		  <div class="row">
			  <div class="nav-item"><a href="rider_home" class="links">RiderHome</a></div>
			  <div class="nav-item"><a href="search_rides" class="links">Search Rides</a></div>
			  <div class="nav-item"><a href="bookings" class="links">Booking</a></div>
		  </div>
	</div>
	<div class="col-2">
		<div class="nav-item"><a href="logout" class="links">Logout</a></div>
	</div>
</nav>